<div class="container mt-5">
  <%= form_with(model: @task, html: { class: 'needs-validation', novalidate: '' }) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :name, "タスク名", class: "form-label" %>
        <%= f.text_field :name, class: "form-control", required: "", placeholder: "タスク名を入力" %>
        <div class="invalid-feedback">
          タスク名は必須です。
        </div>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :description, "詳細", class: "form-label" %>
        <%= f.text_area :description, class: "form-control", rows: 5, required: "", placeholder: "タスクの詳細を入力" %>
        <div class="invalid-feedback">
          詳細は必須です。
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :due_on, "期限", class: "form-label" %>
        <%= f.select :due_on, [["今日", Date.today], ["明日", Date.today + 1.day], ["来週", Date.today + 7.days]], {}, class: "form-control" %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :reward, "報酬", class: "form-label" %>
        <%= f.select :reward, (100..5000).step(100), {}, class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "btn btn-primary btn-lg" %>
      <%= link_to 'キャンセル', dashboard_parents_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
