<%= form_with(model: @task) do |f| %>
  <div>
    <%= f.label :name, "タスク名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "詳細" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :status, "状態" %>
    <%= f.select :status, ['未着手', '着手中', '完了'] %>
  </div>
  <div>
    <%= f.label :due_on, "期限" %>
    <%= f.date_field :due_on %>
  </div>
  <div>
    <%= f.label :reward, "報酬" %>
    <%= f.text_field :reward %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
