<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">お手伝い進行状況</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>タスク名</th>
        <th>詳細</th>
        <th>期限</th>
        <th>報酬</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td><%= task.due_on %></td>
          <td><%= task.reward %>ポイント</td>
          <td>
            <%= button_to "お手伝いが完了したよ", mark_complete_task_path(task), method: :put, class: "btn btn-success btn-sm" %>
          </td>
          <td>
            <%= button_to "お手伝いをやめる", cancel_task_task_path(task), method: :put, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
