<div style="background-color: desired-color; min-height: 100vh;">
<div class="container mt-5">

<% if user_signed_in? && !@is_guardian_page && !@is_role_selection && !@hide_sidebar %>
  <!-- サイドメニュー -->
<nav class="side-menu bg-primary p-3 rounded d-flex flex-column justify-content-center">
  <ul class="list-group">
    <%= link_to tasks_for_kids_tasks_path(child_id: params[:child_id]), class: "text-white d-block" do %>
      <li class="list-group-item bg-info mb-2 rounded text-center py-3 card">
        <i class="fas fa-question-circle text-white d-block mb-1"></i> てつだう
      </li>
    <% end %>
<br>
    <%= link_to tasks_path(child_id: params[:child_id]), class: "text-white d-block" do %>
      <li class="list-group-item bg-success mb-2 rounded text-center py-3 card">
        <i class="fas fa-tasks text-white d-block mb-1"></i> やってる
      </li>
    <% end %>
<br>
    <%= link_to rewards_tasks_path(child_id: params[:child_id]), class: "text-white d-block" do %>
      <li class="list-group-item bg-warning mb-2 rounded text-center py-3 card">
        <i class="fas fa-gift text-white d-block mb-1"></i> ごほうび
      </li>
    <% end %>
  </ul>
</nav>

  
<% end %>

  <h1 class="display-4 text-center mb-4">やってるおてつだい</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">なまえ</th>
        <th class="text-center">ママパパからのおねがい</th>
        <th class="text-center"> いつまでに？</th>
        <th class="text-center">ポイント</th>
        <th class="text-center">😀</th>
        <th class="text-center">😭</th>
      </tr>
    </thead>
    <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td class="text-center"><%= task.name %></td>
      <td class="text-center"><%= task.description %></td>
      <td class="text-center"><%= task.due_on %></td>
      <td class="text-center"><%= task.reward %>ポイント</td>
      <td class="text-center">
        <%= button_to "おわった", mark_complete_task_path(task), method: :put, class: "btn btn-success btn-sm" %>
      </td>
      <td class="text-center">
        <%= button_to "やめる", cancel_task_task_path(task), method: :put, class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
  <% end %>
</tbody>

  </table>
</div>
