<h1>お手伝い進行状況</h1>

<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>詳細</th>
      <th>期限</th>
      <th>報酬</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.due_on %></td>
        <td><%= task.reward %>円</td>
        <td>
          <%= button_to "お手伝いが完了したよ", mark_complete_task_path(task), method: :put%>
        </td>
        <td>
        <%= button_to "お手伝いをやめる", cancel_task_task_path(task), method: :put %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

