<h1>報酬ページ</h1>

<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>状態</th>
      <th>期限</th>
      <th>報酬</th>
    </tr>
  </thead>
  <tbody>
    <% @completed_tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.due_on %></td>
        <td><%= task.reward %>ポイント</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>所持ポイント</h2>
<p><%= User.find(params[:child_id]).points %>ポイント</p>

<h2>交換できる報酬</h2>
<table>
  <thead>
    <tr>
      <th>アイテム名</th>
      <th>必要ポイント</th>
      <th>交換</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>おやつ</td>
      <td>100ポイント</td>
      <td><%= button_to '交換', exchange_reward_tasks_path(item: 'おやつ', points: 100, child_id: params[:child_id]), method: :post %></td>
    </tr>
    <tr>
      <td>300円</td>
      <td>3000ポイント</td>
      <td><%= button_to '交換', exchange_reward_tasks_path(item: '300円', points: 3000, child_id: params[:child_id]), method: :post %></td>
    </tr>
      <td>500円</td>
      <td>5000ポイント</td>
      <td><%= button_to '交換', exchange_reward_tasks_path(item: '500円', points: 5000,child_id: params[:child_id]), method: :post %></td>
    </tr>
    <!-- 他のアイテムも同様に追加可能 -->
  </tbody>
</table>

<h2>交換した商品</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>交換日時</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @exchanged_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.created_at.strftime('%Y-%m-%d (%a)') %></td>
        <td><%= item.description %></td> <!-- 交換の詳細情報を表示 -->
      </tr>
    <% end %>
  </tbody>
</table>
