<div class="container mt-5">

<% if user_signed_in? && !@is_guardian_page && !@is_role_selection && !@hide_sidebar %>
  <!-- サイドメニュー -->
<nav class="side-menu bg-primary p-3 rounded d-flex flex-column justify-content-center">
  <ul class="list-group">
    <%= link_to tasks_for_kids_tasks_path(child_id: params[:child_id]), class: "text-white d-block" do %>
      <li class="list-group-item bg-info mb-2 rounded text-center py-5 card">
        <i class="fas fa-question-circle text-white d-block mb-1"></i> て<br>つ<br>だ<br>う
      </li>
    <% end %>
<br>
    <%= link_to tasks_path(child_id: params[:child_id]), class: "text-white d-block" do %>
      <li class="list-group-item bg-success mb-2 rounded text-center py-5 card">
        <i class="fas fa-tasks text-white d-block mb-1"></i> や<br>っ<br>て<br>る
      </li>
    <% end %>
<br>
    <%= link_to rewards_tasks_path(child_id: params[:child_id]), class: "text-white d-block" do %>
      <li class="list-group-item bg-warning mb-2 rounded text-center py-5 card">
        <i class="fas fa-gift text-white d-block mb-1"></i> ご<br>ほ<br>う<br>び
      </li>
    <% end %>
  </ul>
</nav>

  
<% end %>

  <h1 class="display-4 text-center mb-4">おてつだいえらんでね</h1>

  <% if @tasks && @tasks.any? %>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">おてつだい</th>
          <th class="text-center">ママパパからのおねがい</th>
          <th class="text-center">もらえるポイント</th>
          <th class="text-center">アクション</th> 
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td class="text-center"><%= task.name %></td>
            <td class="text-center"><%= task.description %></td>
            <td class="text-center"><%= task.reward %>ポイント</td>
            <td class="text-center">
              <%= button_to "これをする！", choose_task_path(task, child_id: params[:child_id]), method: :put, class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info" role="alert">
      お手伝いのタスクはありません。
    </div>
  <% end %>
</div>
