<div class="main-content">
  <% if user_signed_in? && !@is_role_selection %>
    <% if current_user.admin? %>
      <%= link_to '管理者ページ', rails_admin.dashboard_path %>
    <% else %>
      <% if controller_name == "parents" && action_name == "dashboard" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <% children = current_user.children %>
        <select id="child-switcher">
          <% children.each do |child| %>
            <option value="<%= child.id %>" <%= "selected" if child.id == params[:child_id].to_i %>>
              <%= child.name %>
            </option>
          <% end %>
        </select>
        <%= link_to "保護者", dashboard_parents_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    <% end %>
  <% end %>
</div>
