<div style="background-color: desired-color; min-height: 100vh;">
<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">子どもを追加</h1>

  <%= form_for User.new, url: create_child_parents_path, html: { class: 'needs-validation', novalidate: '' } do |f| %>

    <div class="form-group">
      <%= f.label :name, "子どもの名前", class: "form-label" %>
      <%= f.text_field :name, class: "form-control", required: "", placeholder: "子どもの名前を入力" %>
      <div class="invalid-feedback">
        このフィールドは必須です。
      </div>
    </div>

    <div class="actions">
    <%= f.submit "登録", class: "btn btn-primary btn-lg mr-2" %>
    <%= link_to 'キャンセル', dashboard_parents_path, class: "btn btn-secondary btn-lg" %>
</div>

  <% end %>
</div>
