<!DOCTYPE html>
<html>
  <head>
    <title>Yaruzou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- サイドメニューの追加 -->
    <% if user_signed_in? && !@is_guardian_page %>
      <nav class="side-menu">
        <ul>
          <li><%= link_to "お手伝い", tasks_for_kids_tasks_path(child_id: params[:child_id]) %></li>
          <li><%= link_to "報酬", rewards_tasks_path(child_id: params[:child_id]) %></li>
          <li><%= link_to "バッジ", "/tasks/badge" %></li>
          <li><%= link_to "マニュアル", "/tasks/manual" %></li>
        </ul>
      </nav>
    <% end %>

    <div class="main-content">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to '管理者ページ', rails_admin.dashboard_path %>
      <% end %>
      <%= link_to "ホーム", tasks_path(child_id: params[:child_id]) %>
      <%= link_to "保護者", dashboard_parents_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "管理者ゲストログイン", users_admin_guest_sign_in_path, method: :post %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>