<!DOCTYPE html>
<html>
<head>
  <title>やるゾウ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="header d-flex justify-content-end align-items-center" style="background-color: #4B0082; height: 60px; padding: 0 20px;">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> mr-3">
        <%= raw msg %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  <% end %>

  <div>
    <% if user_signed_in? && !@is_role_selection %>
      <% if current_user.admin? %>
        <%= link_to '管理者ページ', rails_admin.dashboard_path, class: "mr-3 text-white" %>
      <% else %>
        <% if controller_name == "parents" && action_name == "dashboard" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "mr-3 text-white" %>
        <% else %>
          <% children = current_user.children %>
          <select id="child-switcher" class="mr-3">
            <% children.each do |child| %>
              <option value="<%= child.id %>" <%= "selected" if child.id == params[:child_id].to_i %>>
                <%= child.name %>
              </option>
            <% end %>
          </select>
          <%= link_to "保護者", dashboard_parents_path, class: "mr-3 text-white" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "mr-3 text-white" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<body style="font-size: 18px; background-color: #FFF5EE;">

<% if user_signed_in? && !@is_guardian_page && !@is_role_selection && !@hide_sidebar %>
  <!-- サイドメニュー -->
    <nav class="side-menu">
    <ul>
    <li><i class="fas fa-question-circle"></i> <%= link_to "どれにする？", tasks_for_kids_tasks_path(child_id: params[:child_id]) %></li>
      <li><i class="fas fa-tasks"></i> <%= link_to "おてつだいなう", tasks_path(child_id: params[:child_id]) %></li>
      <li><i class="fas fa-gift"></i> <%= link_to "ごほうび", rewards_tasks_path(child_id: params[:child_id]) %></li>
    </ul>
  </nav>
<% end %>

  <%= yield %>
</div>

<div class="footer text-center py-3" style="background-color: #4B0082; color: white; position: fixed; bottom: 0; width: 100%;">
  &copy; <%= Time.now.year %> やるゾウ. All rights reserved.
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
