<!DOCTYPE html>
<html>
<head>
  <title>Yaruzou</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if user_signed_in? && !@is_guardian_page && !@is_role_selection %>
  <!-- サイドメニューの追加 -->
    <nav class="side-menu">
      <ul>
        <li><%= link_to "進行状況", tasks_path(child_id: params[:child_id]) %></li>
        <li><%= link_to "お手伝い", tasks_for_kids_tasks_path(child_id: params[:child_id]) %></li>
        <li><%= link_to "報酬", rewards_tasks_path(child_id: params[:child_id]) %></li>
        <li><%= link_to "バッジ", "/tasks/badge" %></li>
        <li><%= link_to "マニュアル", "/tasks/manual" %></li>
      </ul>
    </nav>
  <% end %>

  <div class="main-content">
  <% if user_signed_in? && !@is_role_selection %>
    <% if current_user.admin? %>
      <%= link_to '管理者ページ', rails_admin.dashboard_path %>
    <% else %>
      <% if controller_name == "parents" && action_name == "dashboard" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <% children = current_user.children %>
        <select id="child-switcher">
          <% children.each do |child| %>
            <option value="<%= child.id %>" <%= "selected" if child.id == params[:child_id].to_i %>>
              <%= child.name %>
            </option>
          <% end %>
        </select>
        <%= link_to "保護者", dashboard_parents_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
